h1 {
    font-weight: bold;  /* normal */
  }

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
  }

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  border: 3px ridge #000000;
  font-style: italic;  /* normal */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:goldenrod;
  background-color:blanchedalmond;
}

body{
  background-color:peachpuff;
  color:#000000
  
}

a:link { color: 2346C8; } /* unvisited link */

a:visited { 
  color: #A81CA5;
}  /* visited link */

a:hover, a:focus {
  color: #7C7EEF;
  font-size: 200%;
}
ul, ol { 
  font: Arial 1rem;
}

  html {
    font-size: 90.5%;  /* default size is 16px, so 62.5% is 
  10px */
  }
  h1 {
    font-size: 5rem; /* 5X the HTML size */
  }
  h2 {
    font-size: 2rem; /* 2X the HTML size */
  }
  h3 {
    font-size: 2rem; /* 2X the HTML size */
  }